= content_for :second_header do
  %h1 Заключенные

= content_for :second_navigation do
  %ul
    %li
      - if can? :create, [Person]
        = link_to "Добавить заключенного", new_person_path


- people.each do |person|
  = render person