= content_for :second_header do
  %h1 О нас
%p
  После бурных 1905-1907 годов, когда тысячи анархистов и социалистов оказались на каторге и в ссылке, первые группы Анархического Черного Креста (АЧК, до 1919 г. – Анархического Красного Креста) были созданы для их поддержки (около 1906 года). Уже в следующем году, после создания группы в Лондоне, организация стала международной, и, хотя связь с советскими анархическими политзаключенными была потеряна в 1930-е годы, международная организация продолжала и продолжает свою деятельность в разных формах до настоящего времени.

%p
  Российское движение анархистов, возродившееся в 1980-x годах, сразу же столкнулось с репрессиями. В течение последних 15 лет было организовано несколько в большей или меньшей степени успешных антирепрессивных кампаний. Но в течение первых годов ХХI века подобные инициативы полностью исчезли из Москвы, в связи с чем возникла необходимость воссоздать Московскую Группу АЧК, что и было сделано летом 2003 года. До сих пор никто не защищает анархистов от произвола правоoхранителных органов, и никто не будет эттого делать, кроме самих анархистов.

%p
  Мы поддерживаем всех репрессированных антиавторитариев и их сторонников, которых преследуют за их политическую деятельность или за поступки, которые не противоречат идеалам анархизма. При наличии возможностей, мы поддерживаем также заключенных, которые стали антиавторитариями в течение отбывания их срока; так называемых «социальных заключенных», которые нарушили закон в целях выживания или борьбы с произволом правящих классов; заключенных, которые борются против тюремного режима изнутри.

%p
  Как анархисты мы выступаем против всех карательных мер. Мы верим в прямое действие, направленное на уничтожение капитализма и государства. Мы не правозащитники, нашей целью является не защита законов, а напротив – их уничтожение. В некоторых случаях мы можем оказать помощь заключенным из гуманитарных соображений.

%p
  Самая элементарная форма поддержки – связь с заключенными, поскольку главная цель власти – изоляция наших товарищей от движения. Мы публикуем списки адресов политзаключенных, чтобы любой сочувствующий смог вести с ними переписку. Кроме этого, у нас работает фонд поддержки, из которого мы выделяем средства для материальной поддержки и юридической защиты; фонд также финансирует высылку заключенным литературы, в частности мы обеспечим бесплатно всех заключенных – не врагов анархо-движения – журналами «Автоном» и «Прямое действие». Мы пытаемся быстро реагировать на репрессивные меры против антиавторитариев в других странах и поддерживаем тесные связи с секциями АЧК во всем мире.

%p
  Мы не только реагируем на самые откровенные выпады против нашей свободы, а также распространяем информацию о наших взглядах на то, что должно быть альтернативой полицейско-тюремной системе. Мы пытаемся превентивно противодействовать репрессиям, распространяя в революционной среде информацию о правильном поведении при арестах, на допросах и в иных аналогичных ситуациях.

%p
  Московская группа АЧК – независимая от всех других анархических структур группа, в которую входят люди, которые не равнодушны к судьбе репрессированных анархистов. Мы предлагаем всем поддерживать нашу работу и участвовать в ней. Самый простой способ – переписка с заключенными и распространение наших материалов. Еще лучше, если вы можете участвовать в наших проектах или создать собственную группу Черного Креста в своем регионе – ведь для этого нужно только испытывать чувство справедливости и солидарности. 