%h1
  Контакт Московской Группы Анархического Черного Креста:

%p
  %b e-mail: 
  abc-msk (at) riseup.net
  %br
  %b cайт:
  %a{href: "http://www.avtonom.org/abc"}
    http://www.avtonom.org/abc

  %h3 почтовый адрес: 109028, Москва, а/я 13 (пожалуйста, не пишите ничего на конверте кроме адреса!)


%h1
  АЧК социальных сетях:

%p
  Во вконтакте:
  %a{href: "http://vkontakte.ru/club11023852"}
    http://vkontakte.ru/club11023852

%p
  Твиттер:
  %a{href: "http://twitter.com/a4k_moscow"}
    http://twitter.com/a4k_moscow (на русском)
  %br
  %a{href: "http://twitter.com/abc_moscow"}
    http://twitter.com/abc_moscow (на английском)

%p
  FaceBook:
  %a{href: "http://www.facebook.com/pages/Anarhiceskij-Cernyj-Krest-Moskva/146337378727567"}
    http://www.facebook.com/pages/Anarhiceskij-Cernyj-Krest-Moskva/146337378727567 (на русском)
  %br
  %a{href: "http://www.facebook.com/abcmoscow"}
    http://www.facebook.com/abcmoscow (на английском)

%p
  Myspace:

  %a{href: "http://www.myspace.com/abcmsc"}
    http://www.myspace.com/abcmsc
