body{
  font-family: $helvetica;
  font-size: $font_size;
}
h1,h2,h3,h4{
  font-family: 'Roboto Slab', serif;
}

.hidden{
  display: none;
}
a{
  color: #29abe2;
  text-decoration: none;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  transition: all 0.1s linear;
  &:hover{
    color: #c1272d;
    text-shadow: rgb(255, 255, 255) 0px 1px 0px;
  }
}
.second_header{
  padding-top: 10px;
  padding-bottom: 10px;
  // border-bottom: 1px solid #ddd;
  border-color: rgb(238, 238, 238);
  .wrapper{
    @include outer-container;
    .heading{
      @include span-columns(7);
      h1{
        font-size: 25px;
        line-height: 20px;
        // font-weight: 300;
        color: #c1272d;
        small{
          color: #AEA79F;
        }
      }
    }
    .navigation{
      @include span-columns(5);
      ul{
        float: right;
        margin-top: 20px;
        list-style-type: none;
        li{
          display: block;
          float: left;
          margin-left: 15px;
        }
      }
    }
  }
}
.site_wrapper{
  // border-top: 1px solid rgb(238, 238, 238);
  border-top: 4px double #e0e0e0;
  @include outer-container;
  // border: 1px solid #ddd;
  // border-top: 0px;
  padding: 15px;
}

#site_header{
  padding-top: 20px;
  @include outer-container;
  ul{
    padding: 0;
    margin: 0;
    padding-top: 58px;
    list-style-type: none;
    li{
      padding-left: 5px;
      padding-right: 5px;
      display: block;
      float: left;
      font-size: 19px;
      font-family: 'Roboto Slab', serif;
    }
  }
  .left{
    ul{
      float: right;
    }
    @include span-columns(5);
  }
  .center{
    text-align: center;
    @include span-columns(2);
  }
  .right{
    @include span-columns(5);
  }
}
hr{
  border: 0px;
  border-top: 1px solid #666;
}