@mixin input{
  width: 100%;
  border: 1px solid #cccccc;
  border-radius: 2px;
  padding: 5px;
}
@mixin size{
  font-size: 14px;
  line-height: 20px;
}
.people_page{
  @include outer-container;
  .people-index{
    @include span-columns(8);
    .person{
      text-align: center;
      img{
        &:hover{
          border-color: #C1272D;
        }
        width: 100%;
        border: 1px solid #eee;
        padding: 4px;
      }
      @include span-columns(4);
      @include omega(3n);
    }
  }
  .aside{
    @include span-columns(4);
    .posts{
      border: 1px solid #eee;
      padding: 15px;
      .post{
        margin-top: 10px;
      }
    }
    .filter{
      margin-bottom: 15px;
      padding: 15px;
      border: 1px solid #eee;
      ul{
        list-style-type: none;
        margin: 0;
        padding: 0;
      }
    }
  }
}
.people-show{
  .person{
    @include outer-container;
    .left_column{
      @include span-columns(3);
    }
    .right_column{
      @include span-columns(9);
      .wrapper{
        @include outer-container;
        .about{
          @include span-columns(5 of 9);
          .notice{
            display: block;
            padding: 10px;
            border: 1px solid #eee;
            p{
              padding: 0;
              margin: 0;
            }
          }
        }
        .right_small_column{
          @include span-columns(4 of 9);
        }
      }
      .person_news{
        margin-top: 30px;
        padding-top: 30px;
        border-top: 4px double #e0e0e0;
      }
    }
  .photos{
    .thumbs{
      @include outer-container;
      img{
        @include span-columns(3);
        @include omega(4n);
      }
    }
  }
  .accounts{
    padding: 15px;
    border: 1px solid #fc511d;
  }
  .contacts{
    margin-top: 10px;
    padding: 15px;
    border: 1px solid #eee;
  }
  .transactions{
    background: #F5F5F5;
    margin-top: 10px;
    padding: 15px;
    border: 1px solid #eee;
  }
}
}


.transaction{
  clear: both;
  padding: 10px;
  margin-top: 5px;
  font-size: 13px;
  .amount{
    float: left;
    .time_ago{
      color: #444;
    }
  }
  .controls{
    float: right;
  }
  .about_transaction{
    clear: both;
  }
  &.in{
    background-color: #DFF0D8;
    border-color: #D6E9C6;
    color: #468847;
  }
  &.out{
    background-color: #F2DEDE;
    border-color: #EED3D7;
    color: #B94A48;
  }
}
#person_photos{
  img.main{width: 100%;}
  img{
    border: 1px solid #ddd;
  }
}
.photo_index{
  @include outer-container;
  .photo{
    &.main{
      border: 1px solid red;
    }
    margin-top: 20px;
    border: 1px solid #ddd;
    @include span-columns(2);
    @include omega(6n);
    text-align: center;
    img{margin-top: 20px;}
    .controls{
      a{
        margin-left: 5px;
        margin-right: 5px;

      }
      margin-bottom: 2px;
    }
  }
}
form.new_person, form.edit_person{
  .fields{
    @include outer-container;
    .about{
      @include span-columns(6);
      padding: 2px;
    }
    .prison_data{
      border: 3px solid #c00;
      @include span-columns(6);
      background: rgba(0,0,0,0.04);
    }
  }
  .controls{
    @include outer-container;
    border-top: 1px solid #ddd;
    margin-top: 15px;
    padding: 10px;
    background: rgba(0,0,0,0.04);
    border-radius: 0 0 5px 5px;
  }
  .input{
    padding: 10px;
    clear: both;
  }
  .input.date{
    label{
      padding-top: 2px;
      text-align: right;
      display: block;
      float: left;
      width: 150px;
    }
    select{

    }
  }
  label{
    @include size;
    color: rgb(68, 68, 68);
    font-weight: bold;
    line-height: 20px;
    padding-top: 9px;
    padding-right: 10px;
    display: block;
  }
  input[type="text"]{
    @include input;
    @include size;
  }
  textarea{
    @include input;
    @include size;
    height: 180px;
  }
  textarea.smaller{
    height: 50px;
  }
  textarea.bigger{
    height: 400px;
  }
  input[type="submit"]{
    @include button;
  }
}


form.new_transaction{
  label{
    display: block;
  }
  input{
  }
  textarea{
    height: 100px;
    width: 100%;
  }
  input[type="submit"]{
  }
}