form.new_post,form.edit_post{
  border: 1px solid #ddd;
  input[type="text"]{
    font-size: 20px;
    width: 100%;
  }
  textarea{
    width: 100%;
  }
  .post_connections{
    padding: 10px;
    background: #eee;
    h1{
      margin: 0;
      padding: 0;
    }
  }
  .controls{
    padding: 10px;
    background: #ccc;
  }
}

.person_caption{
  .name{
    line-height: 24px;
    width: 150px;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    word-wrap: normal;
  }
  img{
    width: 25px;
  }
}
.posts_page{
  @include outer-container;
  .posts{
    @include span-columns(8);
  }
  .people{
    span.name{
      width: 200px;
    }
    border: 1px solid #ddd;
    padding: 15px;
    @include span-columns(4);
  }
}